#textoPesquisa {
	color: red;
}

main {
	background: url("banda.jpg");
}

#cardParagrafo {
	color: white;
	background: black;
	background-color: rgba(20,20,20,0.8);
}

#cardParagrafo:hover {
	background: black;
	color: red;

}
