.imagemFundo {
	background-image:url("../image/theVulturesVermelho.png");
	background-position: center;
	background-size: 300px;
	margin: 0 auto;
	font-family: serif;
	display: flex;
	justify-content: center;
	height: 1000px;
}

.listaDeShows {
	width: 50%;
	height: 500px;
	padding: 40px;
	box-sizing: border-box;
	border: 20px solid red;
	background: black;
	text-align: center;
	border-radius: 20px;
	margin-top: 200px;
}

li {
	list-style-type: none;
	margin-top: 30px;
}

h1 {
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 40px;
	color: white;
}

h2 {
	color: red;
	margin: 10px 0px;
	font-size: 30px;
}

p {
	color: white;
	line-height: 1.0;
	font-size: 25px;
}

	/*MOBILE*/
@media(max-width: 768px) {

	.imagemFundo {
		width: 330px;
		height: 706px;
		background-image:url("../image/theVulturesVermelho.png");
		background-size: 334px;
		background-position: center;
	}

	body {
		padding: 50px 10px 10px 5px;
	}

	.listaDeShows {
		width: 80%;
		height: 410px;
		padding: 40px 10px;
		box-sizing: border-box;
		border: 5px solid red;
		background: black;
		text-align: center;
		border-radius: 20px;
		margin-top: 130px;
	}

	li {
		margin-top: 10px;
	}

	h1 {
		font-size: 26px;
		text-transform: uppercase;
		margin-bottom: 40px;
		color: white;
		text-align: center;
	}

	h2 {
		color: red;
		margin: 10px 0px;
		font-size: 22px;
		text-align: center;
	}

	p {
		color: white;
		line-height: 1.0;
		font-size: 16px;
		text-align: center;
	}
	.showIndisponivel {
		padding: 50px 0px;
	}
}
