main {
	margin-top: 125px;
	background: url("../image/theVulturesVermelho.png");
	background-position: center;
	background-size: 400px;
}

#cardParagrafo {
	color: white;
	background: black;
	background-color: rgba(20,20,20,0.8);
}

#cardParagrafo:hover {
	background: black;
	color: red;
}

#inputContato {
	color: white;
	background: black;
}

#labelContato {
	margin: 10px 0px 0px;
}

 		/*MOBILE*/
@media(max-width: 780px) {
	
	header ul {
		height: 40px;
	}
	
	h1 {
		display: flex;
		justify-content: center;
	}

	main {
		display: flex;
		flex-direction: column;
		margin-top: 262px;
	}

	#carouselExampleControls {
		display: flex;
		height: 750px;
		align-items: center;
		background: black;
	}
}
