<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Vultures</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/reset.css">
	<link rel="stylesheet" href="../assets/shows.css">
</head>
<body>
	<main class="imagemFundo">
		<div class="listaDeShows">
			<h1>Shows no Paraná</h1>
			<h2>Curitiba</h2>
			<p>Dia 10 de Outubro de 2021</p>
			<p>Dia 20 de Outubro de 2021</p>	
			<h2>Araucária</h2>
			<p>Dia 10 de Dezembro de 2021</p>
			<p>Dia 15 de Dezembro de 2021</p>
			<a class="btn btn-danger" href="../index.html" role="button">Voltar<a>	
		</div>
	</main>	
</body>
</html>
